[Desktop Entry]
Type=Application
Name=Baudrun
GenericName=Serial Terminal
Comment=A serial terminal for network devices
Exec=baudrun
Icon=baudrun
Terminal=false
StartupWMClass=Baudrun
Categories=Network;TerminalEmulator;System;
Keywords=serial;terminal;tty;console;network;switch;router;
